@charset "utf-8";

table.tabuleiro {
	border-collapse: separate;
	border-spacing: 0.5px;
	table-layout: fixed;
	width: 400px;
	height: 400px;
}

table.tabuleiro tr:nth-of-type(odd) td:nth-of-type(even),
table.tabuleiro tr:nth-of-type(even) td:nth-of-type(odd) {
	background-color: #EEE;
}

table.tabuleiro tr:nth-of-type(odd) td:nth-of-type(odd),
table.tabuleiro tr:nth-of-type(even) td:nth-of-type(even) {
	background-color: #E5E5E5;
}

table.tabuleiro tr td {
	border-radius: 1em;
	color: #333;
	text-align: center;
	vertical-align: middle;
}

table.tabuleiro tr td:hover {
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: linear;
	transition-delay: 0;
	background-color: #DDD;
}

table.tabuleiro tr td.humano {
	background-color: rgb(88, 61, 136) !important;
	background-image: -webkit-linear-gradient(270deg, rgb(88, 61, 136) 50%, rgba(255, 255, 255, 0.1) 50%);
	color: #FFF;
}

table.tabuleiro tr td.computador {
	background-color: rgb(73, 172, 73) !important;
	background-image: -webkit-linear-gradient(270deg, rgb(73, 172, 73) 50%, rgba(255, 255, 255, 0.1) 50%);
	color: #FFF;
}
